html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #20262E;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#game-board {
    background: #ffffff;
    min-height: 100vh;
    border: 10px solid black;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

#stats {
    padding: 10px 5% 0 0;
    font-size: 20pt;
    float: right;
    position: relative;
    margin-left: auto;
    margin-bottom: auto;
    z-index: 1000;
}

#game-over {
    position: absolute;
    font-size: 50pt;
}